<section class="CategoryContainer">
  <div class="CategoryTitle">
    <p class="CategoryTitle-text"><%= category %></p>
  </div>
  <ul>
    <% items.each do |item| %>
        <li class="MenuItem">
          <label class="MenuItem-container">
            <p class="MenuItem-name"><%= item.name %></p>
            <p class="MenuItem-price"><%= item.price %></p>
            <%= form_with(url: "/carts", method: "post", class: "AddItem") do |f| %>
              <%= f.hidden_field :id, value: item.id %>
              <%= submit_tag "Add To Cart", class: "AddItem-button" %>
          <% end %>
          </label>
        </li>
    <% end %>
  </ul>
</section>
