
<% if @cart.count > 0 %>
  <section class="CartContainer">
    <ul>
      <li class="MenuItem">
        <label class="CartItem-container">
          <p class="CartItemHeder">Name</p>
          <p class="CartItemHeder">Quantity</p>
          <p class="CartItemHeder">Price</p>
        </label>
      </li>
    </ul>
    <ul>
      <% @cart.order(:name).each do |item| %>
          <li class="MenuItem">
            <label class="MenuItem-container">
              <p class="MenuItem-price"><%= item.name %></p>
              <%= button_to "-", { :controller => "carts", :action => "remove", :id => item.id }, :method => :post, class: "CartButton" %>
              <p class="MenuItem-price"><%= item.qty %></p>
              <%= button_to "+", { :controller => "carts", :action => "add", :id => item.id }, :method => :post, class: "CartButton" %>
              <p class="MenuItem-price"><%= item.price * item.qty %></p>
              <%= button_to "X", { :controller => "carts", :action => "destroy", :id => item.id }, :method => :delete, class: "CartButton" %>
            </label>
          </li>
      <% end %>
    </ul>
  </section>
  <p class="Total">Total: <%= @cart.sum("qty*price") %></p>
  <br>
  <p class="PlaceLink"><%= link_to "Place Order", new_order_path %></p>
<% else %>
  <p style="font-size:24px;"> Your cart is empty! </p>
<% end %>


<p class="BackLink"><%= link_to "Go back", customers_path %></p>
